.dropdown-button{

    color:#3498dB;
}
::placeholder{
    color: #3498dB;
}
.app-container {
    flex: 1;
    width: 100%;
    height:100%;
    min-width: 100%;
    position:fixed;  
  }
  .my-toolbar{
      height:37px;
      background-color: #363636;
      opacity:100%;
  }
  

.app-sidenav-content{
    display:flex;
    min-height:100%;
    
    flex-direction:column;
    opacity: 40%;
   
}
.app-sidenav{
    display:flex;
    height:100%;
    flex-direction:column;
    background-color: #363636;
    opacity:40%;
    
    
}
mat-list > a{

    color:white;
}
.fineract-toolicon{
    color:white;
}
.wrapper{
    margin:50px;
    
}
ul#menu li{
    display: inline;
}
.search1{
    
    margin-left:8%;
    
}
.fineract-toolsearch{
    width:210px;
}


.fineract-logo{
    width:40px;
    height:37px;
    vertical-align: bottom;
    
}
.logo-title{
    vertical-align: middle;
    font-size:11px;
    color:white;
}

.search1,.search2{
    display: inline-block;
}
  
.menu1{
    padding:0;
}

.test{
    padding-left:0;
    padding-right: 0;
}