<div class="main-div mat-elevation-z2">
  <h3 class="heading">Add Cheque</h3>
  <div class="fin-button">
    <a mat-raised-button  class="button1" color="primary" [routerLink]="['/navbar/add_cheque']">
      Process cheque</a>
        <a mat-raised-button  class="button2" color="primary" [routerLink]="['/navbar/add_cheque']">
          Print cheque</a> 
      </div>
  <mat-divider></mat-divider>
<form class="fineract-form">
  <mat-form-field>
    <mat-select placeholder="Template">
      <mat-option *ngFor="let template of templates" [value]="template.value">
        {{ template.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Branch">
  </mat-form-field>
<br/>
  <mat-form-field>
    <input matInput placeholder="Bank account">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Payable account">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Payee">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Amount">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-select placeholder="Currency">
      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
        {{ currency.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Cheque number">
  </mat-form-field>
  <br/>
  </form>
  
  <div>
  <button mat-raised-button class="button1" color="warn">Cancel</button>
  </div>
</div>