<div class="main-div mat-elevation-z2">
  <h3 class="heading">Add Ledger</h3>
  <mat-divider></mat-divider>
  <br/>
  
<form class="fineract-form">
  <mat-form-field>
    <input matInput placeholder="Ledger number">
  </mat-form-field>
</form>

<mat-tab-group>
  <mat-tab label="Asset">
    <form class="fineract-form">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
    </form>
    <mat-checkbox>Show account in chart</mat-checkbox>
    <div>
      <button mat-raised-button class="button1" color="primary">Submit</button>
      <button mat-raised-button class="button2" color="warn">Cancel</button>
      </div>
  </mat-tab>
  <mat-tab label="Liability">
    <form class="fineract-form">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
    </form>
    <mat-checkbox>Show account in chart</mat-checkbox>
    <div>
      <button mat-raised-button class="button1" color="primary">Submit</button>
      <button mat-raised-button class="button2" color="warn">Cancel</button>
      </div>
  </mat-tab>
  <mat-tab label="Equity">
    <form class="fineract-form">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
    </form>
    <mat-checkbox>Show account in chart</mat-checkbox>
    <div>
      <button mat-raised-button class="button1" color="primary">Submit</button>
      <button mat-raised-button class="button2" color="warn">Cancel</button>
      </div>
  </mat-tab>
  <mat-tab label="Expense">
    <form class="fineract-form">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
    </form>
    <mat-checkbox>Show account in chart</mat-checkbox>
    <div>
      <button mat-raised-button class="button1" color="primary">Submit</button>
      <button mat-raised-button class="button2" color="warn">Cancel</button>
      </div>
  </mat-tab>
  <mat-tab label="Revenue">
    <form class="fineract-form">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Description">
      </mat-form-field>
    </form>
    <mat-checkbox>Show account in chart</mat-checkbox>
    <div>
      <button mat-raised-button class="button1" color="primary">Submit</button>
      <button mat-raised-button class="button2" color="warn">Cancel</button>
      </div>
  </mat-tab>
</mat-tab-group>

