<div class="main-background" style="background-image:url('assets/Background.png');">
  <div style="margin-top:10%; margin-left:10%;">
  <div class="welcome">
  <span class="greetings">Welcome To Apache Fineract CN</span>
  </div>
  <div class="language">
    <span>Change language</span>
  </div>
  </div>
  <div style="margin-left:10%;">
  <div class="image-div"> 
    <img src="assets/fineract.png" class="image">
  </div>
<div class="login-div mat-elevation-z2">
    <mat-icon class="app-input">business</mat-icon>
  <mat-form-field>
  <input matInput placeholder="Tenant" class="app-input">
</mat-form-field>
  <br>
  <mat-icon class="app-input">person</mat-icon>
  <mat-form-field>
      <input matInput placeholder="Username" class="app-input">
    </mat-form-field>
  <br>
  <mat-icon class="app-input">https</mat-icon>
      <mat-form-field>
          <input matInput placeholder="Password" class="app-input">
      </mat-form-field>
      <p>
  <button mat-raised-button color="primary" type="submit" class="btn">Sign In</button>
  </p>
</div> 
</div>
  

  
</div>
