<div class="main-div mat-elevation-z2">
  <h3 class="heading">Add Office</h3>
  <mat-divider></mat-divider>
  <span>OFFICCE INFORMATION</span>
<form class="fineract-form">
  <mat-form-field>
    <input matInput placeholder="Identifier">
  </mat-form-field>
<br/>
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>
<br/>
  <mat-form-field>
    <input matInput placeholder="Description">
  </mat-form-field>
</form>
<span>ADDRESS</span>
<form class="fineract-form">
<mat-form-field>
  <input matInput placeholder="Street">
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput placeholder="City">
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput placeholder="Postal code">
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput placeholder="Country">
</mat-form-field>
<br/>
<mat-form-field>
  <input matInput placeholder="Region">
</mat-form-field>
</form>
  <div>
  <button mat-raised-button class="button1" color="primary">Submit</button>
  <button mat-raised-button class="button2" color="warn">Cancel</button>
  </div>
</div>