.my-div{
    margin-left: 2%;
    margin-right:2%;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    min-height: 100%;
   
}

.card1{
    margin-right:20px;
    margin-left:20px;
}

mat-list-item {
    padding-top: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}
.card,.card1{
    
    display:inline-block;
    
    vertical-align: top;
    width:40%;
   
}
.card{
    margin-left:2%; 
}
