<div class="my-div mat-elevation-z2">
  <h3 class="heading">Accounting</h3>
  <hr>
  <mat-card class="card">
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/navbar/chart_of_accounts']">
          <mat-icon>domain</mat-icon>Chart of accounts
          <br> List of the accounts used by the organisation
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/journal_entry']">
          <mat-icon>add</mat-icon>Journal Entries
          <br> Manual journal entry transactions recorded in a journal
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/transaction_type']">
          <mat-icon>search</mat-icon>Transaction Types
          <br> Advance search option for journal entries
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/cheque_clearing']">
          <mat-icon>shuffle</mat-icon>Cheque Clearing
          <br> List of Financial Activity and GL Accounnt Mappings
        </a>
      </mat-list-item>
  
    </mat-list>
  </mat-card>

  <mat-card class="card1">
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/navbar/trial_balance']">
          <mat-icon>domain</mat-icon>Trial Balance
          <br> List of the accounts used by the organisation
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/']">
          <mat-icon>folder</mat-icon>Income Statement
          <br> Journal Entries made at the end of the accounting period
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/']">
          <mat-icon>lock</mat-icon>Financial Condition
          <br> Lists all Accounting rules
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/payroll']">
          <mat-icon>settings</mat-icon>Payroll
          <br> Accrues income,expenses and liabilities as on the provided date
        </a>
      </mat-list-item>
      
    </mat-list>
  </mat-card>
</div>