<div class="my-div mat-elevation-z2">
  <h3 class="heading">General Ledger</h3>
  <mat-divider></mat-divider>
  <span>Transaction Type</span>

  <mat-form-field>
    <input matInput placeholder="Code">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description(optional)"></textarea>
  </mat-form-field>
  
  <button mat-raise-button>Submit</button>
  <button mat-raise-button>Cancel</button>
