.fineract-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
  }
  .button1{
      margin-left: 50%;
      
      }
  .button1, .button2{
      width:20px;
      display: inline-block;
  }