<div class="main-div mat-elevation-z2">
  <h3 class="heading">Add Payroll</h3>
  <mat-divider></mat-divider>
  
<form class="fineract-form">
  <mat-form-field>
    <input matInput placeholder="Account">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Member">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Employer">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Salary">
  </mat-form-field>
  <button mat-icon-button color="warn"><mat-icon>clear</mat-icon></button>
</form>
<div style="margin-left: 80%;">
  <button mat-raised-button color="primary">Add Payment</button>
</div>
<div>
  <button mat-raised-button class="button1" color="primary">Submit</button>
  <button mat-raised-button class="button2" color="warn">Cancel</button>
  </div>
  </div>

