
.fineract-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .input {
    width: 100%;
  }
  .debit-card,.credit-card{
    
    display: inline-block;
    
    width: 395px;
    
    

  }

  .button{
    margin-left: 260px;
  }
  