.my-div{
    margin-left: 2%;
    margin-right:2%;
    border-radius: 5px 5px 5px 5px;
    background-color: #e6e6ff;
    min-height: 100%;
   
  }
  table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }