<mat-card class="clients">
  <span>Client</span>
  <mat-list>
    <mat-list-item>
      <span>View Members</span>|
      <span>View Groups</span>
    </mat-list-item>
  </mat-list>
</mat-card>
<mat-card class="accounting">
  <span>Accounting</span>
  <mat-list>
    <mat-list-item>
      <span>View General Ledger</span>|
      <span>View chart of Account</span>
    </mat-list-item>
  </mat-list>
</mat-card>
<mat-card class="organisation">
  <span>Organisation</span>
  <mat-list>
    <mat-list-item>
      <span>View Offices</span>|
      <span>View Employees</span>
    </mat-list-item>
  </mat-list>
</mat-card>
<mat-card class="products">
  <span>Products</span>
  <mat-list>
    <mat-list-item>
      <span>View Loan Products</span>|
      <span>View Savings Product</span>
    </mat-list-item>
  </mat-list>
</mat-card>

