.clients,.accounting{
    display: flex;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 35%;
    height:120px;

}
.organisation,.products{
    display: flex;
    display: inline-block;
    vertical-align:top;
    margin-left: 5%;
    width: 35%;
    height:120px;
}

mat-list-item{
    padding-top:50px;
    
}